AWS_ACCESS_KEY_ID=anaccesskey
AWS_SECRET_ACCESS_KEY=asecretkey
AWS_DEFAULT_REGION=eu-west-1
#GOOGLE_CREDENTIALS={"type": "service_account", "project_id": ... }
GOOGLE_ORGANIZATION_ID=123456789012
GOOGLE_BILLING_ACCOUNT_ID=XXXXXX-XXXXXX-XXXXXX
GOOGLE_DEFAULT_REGION=europe-west2
GOOGLE_IAM_GROUP_ORG_ADMIN=gcp-org-admins@test.com
GOOGLE_IAM_GROUP_BILLING_ADMIN=gcp-billing-admins@test.com
