[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "~=2.10.0"
docker = "*"
boto3 = "*"
botocore = "*"

[scripts]
bootstrap = 'bash -c "gcloud auth login --update-adc; ansible-playbook -vvvv ansible/terraform_bootstrap.yml"'
